node_modules
yarn.lock
yarn-error.log
package-lock.json


# Visual Studio Code Workspace
*.code-workspace
.vscode

# Operating system files
*.sh
*DS_Store

# Docker files
# docker-compose.yml
# docker-compose-pro.yml
# server/Dockerfile

# Environments files
# server.env.*

# Development certificates
server/cert/
